.container {
  height: 100vh;
  background-color: rgb(206, 250, 250);
}

.containerr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  padding: 200px;
}

label {
  font-weight: 900;
  font-size: 20px;
  color: orangered;
}

input {
  margin: 10px;
}

button {
  height: 27px;
  width: 50px;
  background-color: orangered;
  color: black;
  border: 2px black solid;
  border-radius: 10px;
}

button:hover {
  background-color: rgb(4, 70, 96);
  color: white;
  border: 2px white solid;
  border-radius: 10px;
}
